@import "./../../variables";

$commentsTemplateMaxHeigth: 100%;
$postCommentHeigth: 110px;

$postCommentProfilePictureDivWidth: 55px;
$postCommentProfilePictureSize: 50px;

$postCommentButtonDivWidth: 70px;

$headerHeigth: $defaultFontSize*0.75*2+$defaultLineHeight;