@import "./variables";
@import "./post_comment_card";

.vanilla-comments {
    @extend %vanilla-reset;
    position: relative;
    background-color: $pageMainColor;
    padding: 0;
    box-shadow: $defaultTemplateBoxShadow;
    overflow: hidden;
    height: $commentsTemplateMaxHeigth;
    & > header {
        @extend %vanilla-default-template-header;
        @extend %no-select;
    }
    img {
        @extend %no-select;
    }
    & > .vanilla-comments-inner-template {
        position: absolute;
        max-height: 100%;
        width: 100%;
        top: $headerHeigth;
        bottom: $postCommentHeigth;
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: $defaultInnerBoxShadow;
        & > .vanilla-comments-empty-massege {
            display: none;
            width: 100%;
            height: 100%;
            span {
                text-align: center;
                width: 60%;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                line-height: $defaultLineHeight*1.5;
            }
        }
    }

    & > footer {
        @extend %post-comment-card;
        border-top: $defaultBorder;
    }
}
