@import "./../_variables";

$listTemplateMaxWidth: 400px;
$listTemplateMaxHeigth: 500px;
$listTemplateTop: 70px;
$listTemplateLeft: 70px;


$listTemplatePadding: 0;

.vanilla-list {
    @extend %vanilla-reset;
    @extend %no-select;
    width: $listTemplateMaxWidth;
    max-height: $listTemplateMaxHeigth;
    background-color: $pageMainColor;
    position: fixed;
    top: $listTemplateTop;
    #{$nauralAlign}: $listTemplateLeft;
    padding: $listTemplatePadding;
    box-shadow: $defaultTemplateBoxShadow;
    overflow-x: hidden;
    overflow-y: auto;
    & > header {
        width: 100%;
        padding: $defaultFontSize*0.75;
        border-bottom: $defaultBorder;
        & > .exit-icon {
            display: none;
            width: $defaultFontSize*0.75*2;
            height: $defaultFontSize*0.75*2;
            position: absolute;
            top: $defaultFontSize*0.5;
            #{$nauralReverseAlign}: $defaultFontSize*0.75;
            cursor: pointer;
            path {
                color: $defaultWiteTextColor;
            }
        }
    }
    & > main {

        & > div {
            width: 100%;
            padding: $defaultFontSize*1.2;
            border-bottom: $defaultBorder;
            cursor: pointer;
            transition: background-color 1s;
            &:hover {
                background-color: $defaultPlaceHolderColor;
            }
            a {
                width: 100%;
                height: 100%;
            }
        }
    }

    /*& > main > .empty-message {
        width: 100%;
        height: 100%;
        span {
            text-align: center;
            width: 80%;
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }*/
}

@media (max-width: 500px) {
    .vanilla-list {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        max-height: 100%;
        
        .exit-icon {
            display: block !important;
        }

        & > main {

            & > div {
                text-align: center;
            }
        }
    }
}