$pageDirection : ltr;

$pageReverseDirection: rtl;
$nauralAlign: left;
$nauralReverseAlign: right;
@if $pageDirection == rtl {
    $pageReverseDirection: ltr;
    $nauralAlign: right;
    $nauralReverseAlign: left;
}

/* font : */
$defaultFontFamily: normal;
$defaultLineHeight: 1;
$defaultFontSize: 1rem;
$defaultFontSizeInPixels: 16px;

/* colors : */
$PopUpTemplateBackColor: rgba(1, 1, 1, 0.568);
$pageDefaultButtonsBackgroundColor: #67d4ff; // rgb(148, 240, 148);
$pageDefaultButtonsTextColor: #01010191;
$defaultPlaceHolderColor: #e6e6e6;
$pageMainColor: #fff;
$subColor: #e6e6e6;
$styleColor: #67d4ff; // rgb(148, 240, 148);
$defaultTextColor: #000;
$defaultWiteTextColor: #868181;
$defaultLessWiteTextColor: #433c3c;

$pageDefaultButtonsBorderRadius: 0.3rem;

%default-button {
    font-size: $defaultFontSize;
    padding: 0.5 * $defaultFontSize $defaultFontSize;
    margin: 0.5 * $defaultFontSize;
    background-color: $pageDefaultButtonsBackgroundColor;
    color: $pageDefaultButtonsTextColor;
    border: 0.05 * $defaultFontSize solid $pageDefaultButtonsTextColor; 
    border-radius: $pageDefaultButtonsBorderRadius;
    user-select: none;
    cursor: pointer;
}
%default-button:hover {
    color: red;
    border-color: red;
}
%no-select {
    user-select: none;
}
%vanilla-reset {
    direction: $pageDirection;
    text-align: $nauralAlign;
    box-sizing: border-box;
    color: $defaultTextColor;
    border: none;
    outline: none;
    line-height: $defaultLineHeight;
    font-size: $defaultFontSize;
    font-family: $defaultFontFamily;
}
%vanilla-reset * {
    direction: $pageDirection;
    text-align: $nauralAlign;
    box-sizing: border-box;
    color: $defaultTextColor;
    border: none;
    outline: none;
    line-height: $defaultLineHeight;
    font-size: $defaultFontSize;
    font-family: $defaultFontFamily;
    text-decoration: unset;
}

$defaultBorder: 1px solid #e9e9e9;

$defaultTemplateBoxShadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
$defaultInnerBoxShadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.15);

%default-input-foucs {
    transition: box-shadow 0.25s ease-in-out;
}

%default-input-foucs:focus {
    box-shadow: 1px 1px 3px 3px #f5f5f5, -1px -1px 3px 3px #f5f5f5;
}

%default-input {
    @extend %default-input-foucs;
    resize: unset;
    box-shadow: $defaultTemplateBoxShadow;
    padding: $defaultFontSize;
    border-radius: $defaultFontSize*0.1;
    line-height: $defaultLineHeight*1.75;
    user-select: unset;
}

%vanilla-default-template-header {
    width: 100%;
    padding: $defaultFontSize*0.75;
    border-bottom: $defaultBorder;
    & > .exit-icon {
        display: none;
        width: $defaultFontSize*0.75*2;
        height: $defaultFontSize*0.75*2;
        position: absolute;
        top: $defaultFontSize*0.5;
        #{$nauralReverseAlign}: $defaultFontSize*0.75;
        cursor: pointer;
        path {
            color: $defaultWiteTextColor;
        }
    }
}

%place-holder {
    background-color: $defaultPlaceHolderColor;
    border-radius: 0.3rem;
    animation: place-holder-background-efect ease-in 4s 0s infinite;
    transition: background-color 0.5s;
}


@media (max-width: 500px) {
    %vanilla-default-template-header {
        .exit-icon {
            display: block !important;
        }
    }
}

.vanilla-pop-up-container {
    @extend %vanilla-reset;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $PopUpTemplateBackColor;
    & > .vanilla-pop-up-inner-center-template {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    & > .vanilla-pop-up-exit-button {
        width: $defaultFontSize*2.3;
        height: $defaultFontSize*2.3;
        padding: $defaultFontSize*0.15;
        cursor: pointer;
        position: fixed;
        #{$nauralReverseAlign}: $defaultFontSize*1.5;
        top: $defaultFontSize*1.5;
        z-index: 3;
        border-radius: 50%;
        transition: background-color 0.5s;
        &:hover {
            background-color: $defaultWiteTextColor;
        }
        & > * {
            width: $defaultFontSize*2;
            height: $defaultFontSize*2;
            display: inline-block;
        }
        * {
            color: $defaultPlaceHolderColor;
        }
    }
}

.vanilla-container {
    width: 100%;
}


@media (min-width: 576px) {
    .vanilla-container {
        width: 540px;
        margin: 0 auto;
    }
}
@media (min-width: 768px) {
    .vanilla-container {
        width: 720px;
        margin: 0 auto;
    }
}
@media (min-width: 992px) {
    .vanilla-container {
        width: 960px;
        margin: 0 auto;
    }
}
@media (min-width: 1200px) {
    .vanilla-container {
        width: 1140px;
        margin: 0 auto;
    }
}
@media (min-width: 1400px) {
    .vanilla-container {
        width: 1320px;
        margin: 0 auto;
    }
}

@keyframes place-holder-background-efect-in-gray-back-ground {
    0% {
        background-color: $pageMainColor;
    }
    25% {
        background-color: #cacaca;
    }
    50% {
        background-color: $pageMainColor;
    }
    75% {
        background-color: #cacaca;
    }
    100% {
        background-color: $pageMainColor;
    }
}